* {
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    color: rgb(194, 19, 104);
  }

h2 {
 color: rgb(202, 77, 138);
}

p, 
li {
    font-size: 18px;
  }

.header {
    background-image: url(https://images.unsplash.com/photo-1444723121867-7a241cacace9?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center center;
}
